<div class="container">
  <div class='flashcard'>
    <p id="question"><%= @card.question %></p>
    <form action="/deck/<%= @deck.id.to_s + '/' + @card.id.to_s %>" method='post'>
      <input type='text' name='answer'>
      <input type='submit'>
    </form>
  </div>  
</div>