<div class="container">
  <div class='flashcard'>
    <p id="question"><%= @card.question %></p>
    <form id="answer_form" action="/deck/<%= @deck.id.to_s + '/' + @card.id.to_s %>" method='post'>
      <input id="text_guess" type='text' name='answer'>
      <input id="submit_guess" type='submit' value='check'>
    </form>
  </div>
  <div id='answer_checked'>
    <span id="message"></span>
    <form id="next" action="/deck/next/<%= @deck.id.to_s + '/' + @card.id.to_s %>" method="get">
      <input type="submit" value="next">
    </form>
  </div>  
</div>
