<div class="container">
  <h1>Welcome to MC2 Flashcards</h1>
  <% if @user %>
    <h2>Please choose a deck</h2>
    <% @decks.each do |deck| %>
    	<br><a href="/deck/<%= deck.id %>/play"><%= deck.title %></a>
    <% end %>
  <% else %>
    <h4> Please sign up or log in, asshole! </h4>
  <% end %>
</div>
