<div class="container">
  <h1>Please sign up!</h1>
  <form action= '/user/new' method='post'>
    username: <input type='text' name='username'>
    password: <input type='password' name='password'>
    <input type='submit'>
  </form>
</div>